<template>
    <div class="text-center error">
        <font-awesome-icon :icon="['fas', 'bomb']" />
        <h1 class="mt-4">We've ecncountered a problem.</h1>
        <h2>Unfortunately we cannot proceed.</h2>
    </div>
</template>

<style scoped>
.error{
    color: grey;
    font-size: 10rem;
}
</style>