<template>
    <div>
        <span v-if="!loading"><slot name="loaded">Loaded!</slot></span>
        <span v-else><font-awesome-icon :icon="['fas', 'fa-circle-notch']" :spin="true" /><slot name="lading">Loading...</slot></span>
    </div>
</template>

<script>
export default {
    props: {
        loading: Boolean
    }
}
</script>