<template>
    <div class="d-flex">
        <font-awesome-icon 
            :icon="['fas', 'star']" 
            v-for="star in fullStars" 
            :key="'full' + star" 
            @click="$emit('input', star)"
        />
        
        <font-awesome-icon 
            :icon="['fas', 'star-half-alt']" 
            v-if="halfStar"
        />

        <font-awesome-icon 
            :icon="['far', 'star']" 
            v-for="star in emptyStars" 
            :key="'empty' + star" 
            @click="$emit('input', fullStars + star)"
        />
    </div>
</template>

<script>
export default {
    props: {
        value: Number
    },
    computed: {
        halfStar() {
            const fruction = this.value - Math.floor(this.value);
            return fruction > 0 && fruction < 0.5;
        },
        fullStars() {
            // >= 4.5 = 5 stars
            // 4.3 = 4
            return Math.round(this.value);
        },
        emptyStars() {
            // ceil 1.9 = 2
            return 5 - Math.ceil(this.value);
        }
    }
}
</script>