<template>
    <div class="text-center success">
        <font-awesome-icon :icon="['fas', 'thumbs-up']" />
        <h1 class="mt-4">Success!</h1>
        <h2>
            <slot>The operation was successful!</slot>
        </h2>
    </div>
</template>


<style scoped>
.success{
    color: grey;
    font-size: 10rem;
}
</style>