<template>
    <div>
        <success v-if="success">
            You've left the review, thank you very much!
        </success>
        <fatal-error  v-if="error"></fatal-error>
        <div class="row" v-if="!success && !error">
            <div :class="[{'col-md-4': twoColumns}, {'d-none': oneColumn}]">
                <div class="card">
                    <div class="card-body">
                        <div v-if="loading">Loading...</div>
                        <div v-if="hasBooking">
                            <p>Stayed at <router-link :to="{name: 'bookable', params: {id: booking.bookable.bookable_id}}">{{ booking.bookable.title }}</router-link></p>
                            <p>From {{ booking.from }} to {{ booking.to }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="[{'col-md-8': twoColumns}, {'col-md-12': oneColumn}]">
                <div v-if="loading">
                    Loading...
                </div>
                <div v-else>
                    <div v-if="alreadyReviewed">
                        <h3>You've already left a review for this booking!</h3>
                    </div>
                    <div v-else>
                        <div class="form-group pb-3">
                            <label class="text-muted pb-3">Select the star rating (1 is the worst - 5 is the best)</label>
                            <star-rating class="fa-3x" v-model="review.rating"></star-rating>
                        </div>
                        <div class="form-group pb-3">
                            <label for="content" class="text-muted pb-3">Describe your expirience with</label>
                            <textarea 
                                name="content" 
                                cols="30" rows="10" 
                                class="form-control" 
                                v-model="review.content"
                                :class="[{'is-invalid': errorFor('content')}]"
                                >
                            </textarea>

                            <v-errors :errors="errorFor('content')"></v-errors>
                        </div>

                        <button 
                            class="btn btn-lg btn-primary w-100" 
                            @click.prevent="submit" 
                            :disabled="submiting"
                            >Submit</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</template>

<script>
import {is404, is422} from './../shared/utils/response';
import validationErrors from './../shared/mixins/validationErrors';

export default {
    mixins: [validationErrors],
    data() {
        return {
            review: {
                id: null,
                rating: 5,
                content: null
            },
            existingReview: null,
            loading: false,
            booking: null,
            error: false,
            submiting: false,
            success: false
        }
    },
    async created() {
        this.review.id = this.$route.params.id;
        this.loading = true;

        try {
            this.existingReview = (await axios.get(`/api/reviews/${this.review.id}`)).data.data;
        } catch(error){
            if(is404(error)){
                try {
                    this.booking = (await axios.get(`/api/booking-by-review/${this.review.id}`)).data.data;
                } catch(err){
                    this.error = !is404(err);
                }
            } else {
                this.error = true;
            }
        }

        this.loading = false;
    },
    computed: {
        alreadyReviewed() {
            return this.hasReview || !this.hasBooking;
        },
        hasReview(){
            return this.existingReview !== null;
        },
        hasBooking(){
            return this.booking !== null;
        },
        oneColumn(){
            return !this.loading && this.alreadyReviewed;
        },
        twoColumns(){
            return this.loading || !this.alreadyReviewed;
        }
    },
    methods: {
        async submit(){
            this.submiting = true;
            this.errors = null;
            this.success = false;

            try {
                this.success = (await axios.post(`/api/reviews`, this.review)).status === 201;
            } catch(error){
                if(is422(error)){
                    const errors = error.response.data.errors;
                    if(errors['content'] && _.size(errors) === 1){
                        this.errors = errors;
                    }
                } else{
                    this.error = true;
                }

            }

            this.submiting = false;
        }
    }
}
</script>