<template>
    <div>
        <h6 class="text-uppercase text-secondary font-weighy-bolder">
            Check Availability
            <transition>
                <span v-if="noAvailability" class="text-danger">(NOT AVAILABLE)</span>
                <span v-if="hasAvailability" class="text-success">(AVAILABLE)</span>
            </transition>
        </h6>
        <div class="row">
            <div class="col-md-6">
                <label for="from">From</label>
                <input 
                    type="text" 
                    name="from" 
                    class="form-control form-control-sm" 
                    placeholder="Start date"
                    v-model="from"
                    @keyup.enter="check"
                    :class="[{'is-invalid': errorFor('from')}]"
                > 
                <v-errors :errors="errorFor('from')"></v-errors>
            </div>
            <div class="col-md-6">
                <label for="to">To</label>
                <input 
                    type="text" 
                    name="to" 
                    class="form-control form-control-sm" 
                    placeholder="End date"
                    v-model="to"
                    @keyup.enter="check"
                    :class="[{'is-invalid': errorFor('to')}]"
                >

                <v-errors :errors="errorFor('to')"></v-errors>
            </div>
        </div>
        <div class="d-grid mt-3">
            <button class="btn btn-secondary" @click="check" :disabled="loading">
                <loading :loading="loading">
                    <template v-slot:loaded>Check!</template>
                    <template v-slot:loading>Checking...</template>
                </loading>
            </button>
        </div>
    </div>
</template>


<script>
    import {is422} from './../shared/utils/response';
    import validationErrors from './../shared/mixins/validationErrors';

    export default {
        mixins: [validationErrors],
        props: {
            bookableId: [String, Number]
        },
        data(){
            return {
                from: this.$store.state.lastSearch.from,
                to: this.$store.state.lastSearch.to,
                loading: false,
                status: null,
                errors: null
            };
        },
        methods: {
            async check(){
                this.loading = true;
                this.errors = null;

                this.$store.dispatch('setLastSearch', {
                    from: this.from,
                    to: this.to
                });

                try{
                    this.status = (await axios.get(`/api/bookables/${this.bookableId}/availability?from=${this.from}&to=${this.to}`)).status;
                    this.$emit('availability', this.hasAvailability);
                }catch(error){
                    if(is422(error)){
                        this.errors = error.response.data.errors;
                    }
                    this.status = error.response.status;
                    this.$emit('availability', this.hasAvailability);
                }
                this.loading = false;
            }
        },
        computed: {
            hasErrors(){
                return 422 === this.status && this.errors !== null;
            },
            hasAvailability(){
                return this.status === 200;
            },
            noAvailability(){
                return this.status === 404;
            }
        }
    }
</script>


<style scoped>
    label {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: grey;
        font-weight: bolder;
    }
</style>