<template>
    <div class="row">
        <div class="col-md-8 pb-4">
            <div class="card">
                <div class="card-body">
                    <div v-if="!loading">
                        <h2>{{ bookable.title }}</h2>
                        <hr>
                        <article>{{ bookable.description }}</article>
                    </div>
                    <div v-else>
                        Loading...
                    </div>
                </div>
            </div>
            <review-list :bookable-id="this.$route.params.id"></review-list>
        </div>
        <div class="col-md-4 pb-4">
            <availability 
                :bookable-id="this.$route.params.id" 
                v-on:availability="checkPrice($event)"
                class="mb-4"
            ></availability>

            <transition>
                <div v-if="price">
                    <price-breakdown :price="price" class="mb-4"></price-breakdown>
                    <button 
                        class="btn btn-outline-secondary w-100 d-block" 
                        @click="addToBasket"
                        :disabled="inBasketAlready"
                        >Book now
                    </button>
                </div>
            </transition>

            <button 
                class="btn btn-outline-secondary w-100 d-block mt-2" 
                v-if="inBasketAlready"
                @click="removeFromBasket"
                >Remove from the basket
            </button>

            <div v-if="inBasketAlready" class="mt-4 text-muted warning">It seems like you've added this object to the basket already. If you want to chage the dates remove it from the basket first.</div>
            
        </div>
    </div>
</template>


<script>
    import Availability from './Availability';
    import ReviewList from './ReviewList';
    import PriceBreakdown from './PriceBreakdown';
    import { mapState } from 'vuex';

    export default {
        components: {
            Availability,
            ReviewList,
            PriceBreakdown
        },
        data() {
            return {
                bookable: null,
                loading: false,
                price: null
            }
        },
        created() {
            this.loading = true;
            axios.get(`/api/bookables/${this.$route.params.id}`)
                .then(response => {
                    this.bookable = response.data.data;
                    this.loading = false;
                });
        },
        computed: {
            ...mapState(['lastSearch']),
            inBasketAlready(){
                if(this.bookable === null){
                    return false;
                }

                return this.$store.getters.inBasketAlready(this.bookable.id)
            }
        },
        methods: {
            async checkPrice(hasAvailability){
                if(!hasAvailability){
                    this.price = null;
                    return;
                }

                try {
                    this.price = (await axios.get(
                        `/api/bookables/${this.bookable.id}/price?from=${this.lastSearch.from}&to=${this.lastSearch.to}`
                    )).data.data;
                } catch(eroor){
                    this.price = null;
                }
            },
            addToBasket() {
                this.$store.dispatch('addToBasket', {
                    bookable: this.bookable,
                    price: this.price,
                    dates: this.lastSearch
                })
            },
            removeFromBasket(){
                this.$store.dispatch('removeFromBasket', this.bookable.id);
            }
        }
    }
</script>


<style scoped>
    .warning {
        font-size: 0.7rem;
    }
</style>