<template>
    <div>
        <success v-if="success">
            Congratulations on your purchase!
        </success>
        <div class="row" v-else>
            <!-- Checkout Page -->
            <div class="col-md-8" v-if="itemsInBasket">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">First name</label>
                        <input 
                            type="text" 
                            name="first_name" 
                            id="first_name" 
                            class="form-control" 
                            v-model="customer.first_name"
                            :class="[{'is-invalid': errorFor('customer.first_name')}]"
                        >
                        <v-errors :errors="errorFor('customer.first_name')"></v-errors>
                    </div>
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Last name</label>
                        <input 
                            type="text" 
                            name="last_name" 
                            id="last_name" 
                            class="form-control" 
                            v-model="customer.last_name"
                            :class="[{'is-invalid': errorFor('customer.last_name')}]"
                        >
                        <v-errors :errors="errorFor('customer.last_name')"></v-errors>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email</label>
                        <input 
                            type="email" 
                            name="email" 
                            id="email" 
                            class="form-control" 
                            v-model="customer.email"
                            :class="[{'is-invalid': errorFor('customer.email')}]"
                        >
                        <v-errors :errors="errorFor('customer.email')"></v-errors>
                    </div>
                    <div class="col-md-6">
                        <label for="street" class="form-label">Street</label>
                        <input 
                            type="text" 
                            name="street" 
                            id="street" 
                            class="form-control" 
                            v-model="customer.street"
                            :class="[{'is-invalid': errorFor('customer.street')}]"
                        >
                        <v-errors :errors="errorFor('customer.street')"></v-errors>
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input 
                            type="text" 
                            name="city" 
                            id="city" 
                            class="form-control" 
                            v-model="customer.city"
                            :class="[{'is-invalid': errorFor('customer.city')}]"
                        >
                        <v-errors :errors="errorFor('customer.city')"></v-errors>
                    </div>
                    <div class="col-md-6">
                        <label for="country" class="form-label">Country</label>
                        <input 
                            type="text" 
                            name="country" 
                            id="country" 
                            class="form-control" 
                            v-model="customer.country"
                            :class="[{'is-invalid': errorFor('customer.country')}]"
                        >
                        <v-errors :errors="errorFor('customer.country')"></v-errors>
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        <input 
                            type="text" 
                            name="state" 
                            id="state" 
                            class="form-control" 
                            v-model="customer.state"
                            :class="[{'is-invalid': errorFor('customer.state')}]"
                        >
                        <v-errors :errors="errorFor('customer.state')"></v-errors>
                    </div>
                    <div class="col-md-2">
                        <label for="zip" class="form-label">Zip Code</label>
                        <input 
                            type="text" 
                            name="zip" 
                            id="zip" 
                            class="form-control" 
                            v-model="customer.zip"
                            :class="[{'is-invalid': errorFor('customer.zip')}]"
                        >
                        <v-errors :errors="errorFor('customer.zip')"></v-errors>
                    </div>
                </div>
                <hr class="my-4">
                <button 
                    type="submit" 
                    class="w-100 btn btn-primary btn-lg" 
                    @click="book"
                    :disabled="loading"
                >Book now</button>
            </div>
            <div class="col-md-8" v-else>
                <div class="p-5 bg-secondary text-white rounded text-center">
                    <h1>Empty</h1>
                </div>
            </div>

            <!-- List of Bookables -->
            <div class="col-md-4">
                <div class="d-flex justify-content-between">
                    <h6 class="text-uppercase text-secondary font-weight-bolder">your cart</h6>
                    <h6 class="badge bg-secondary text-uppercase">
                        <span v-if="itemsInBasket">Items {{ itemsInBasket }}</span>
                        <span v-else>Empty</span>
                    </h6>
                </div>

                <transition-group tag="div">
                    <div v-for="item in basket" :key="item.bookable.id">
                        <div class="pt-2 pb-2 border-top d-flex justify-content-between">
                            <span>
                                <router-link :to="{name: 'bookable', params: {id: item.bookable.id}}">{{ item.bookable.title }}</router-link>
                            </span>
                            <span class="font-weight-bold">${{ item.price.total }}</span>
                        </div>

                        <div class="pt-2 pb-2 d-flex justify-content-between">
                            <span>From {{ item.dates.from }}</span>
                            <span>To {{ item.dates.to }}</span>
                        </div>

                        <div class="pt-2 pb-2 text-end">
                            <button class="btn btn-sm btn-outline-secondary" @click="$store.dispatch('removeFromBasket', item.bookable.id)">
                                <font-awesome-icon :icon="['fas', 'trash-alt']" />
                            </button>
                        </div>
                    </div>
                </transition-group>
            </div>

        </div>
    </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex';
import validationErrors from './../shared/mixins/validationErrors';

export default {
    mixins: [validationErrors],
    data() {
        return {
            loading: false,
            bookingAttempted: false,
            customer: {
                first_name: null,
                last_name: null,
                email: null,
                email: null,
                street: null,
                city: null,
                country: null,
                state: null,
                zip: null
            }
        }
    },
    computed: {
        ...mapGetters(["itemsInBasket"]),
        ...mapState({
            basket: state => state.basket.items
        }),
        success(){
            return !this.loading && this.itemsInBasket === 0 && this.bookingAttempted;
        }
    },
    methods: {
        async book(){
            this.loading = true;
            this.errors = null;

            try {
                await axios.post('/api/checkout', {
                    customer: this.customer,
                    bookings: this.basket.map(basketItem => ({
                        bookable_id: basketItem.bookable.id,
                        from: basketItem.dates.from,
                        to: basketItem.dates.to
                    }))
                });
                this.$store.dispatch('clearBasket');
            }catch(error){
                this.errors = error.response && error.response.data.errors;
            }

            this.loading = false;
            this.bookingAttempted = true;
        }
    }
}
</script>

<style scoped>
h6.badge {
    font-size: 100%;
}

a {
    color: black;
}
</style>