<template>
    <div class="w-50 m-auto">
        <div class="card card-body">
            <form>
                <div class="row">
                    <div class="col-12">
                        <label for="email">E-mail</label>
                        <input 
                            type="email" 
                            id="email"
                            name="email" 
                            placeholder="Your Email" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('email')}]"
                            v-model="email"
                        >
                        <v-errors :errors="errorFor('email')"></v-errors>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="password">Password</label>
                        <input 
                            type="password"
                            id="password" 
                            name="password" 
                            placeholder="Your Password" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('password')}]"
                            v-model="password"
                        >
                        <v-errors :errors="errorFor('password')"></v-errors>
                    </div>
                </div>
                
                <div class="d-grid gap-2 col-12 mx-auto mt-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="loading" @click="login">Log-in</button>
                </div>

                <hr/>

                <div>
                    No account yet? 
                    <router-link :to="{name: 'register'}" class="font-weight-bold">Register</router-link>
                </div>

                <div>
                    Forgotten password? 
                    <router-link :to="{name: 'home'}" class="font-weight-bold">Reset password</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import validationErrors from '../shared/mixins/validationErrors';
import { logIn } from "./../shared/utils/auth";

    export default {
        mixins: [validationErrors],
        data() {
            return {
               email: null,
               password: null,
               loading: false
            }
        },
        methods: {
            async login(){
                this.loading = true;
                this.errors = null;

                try {
                    await axios.get('/sanctum/csrf-cookie');
                    await axios.post('/login', {
                        email: this.email,
                        password: this.password
                    });

                    logIn();
                    this.$store.dispatch("loadUser");
                    this.$router.push({name: "home"});
                    
                } catch (error) {
                    this.errors = error.response && error.response.data.errors;
                }

                this.loading = false;
            }
        }
    }
</script>