<template>
    <div class="w-50 m-auto">
        <div class="card card-body">
            <form>
                <div class="row">
                    <div class="col-12">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            id="name"
                            name="name" 
                            placeholder="Your Name" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('name')}]"
                            v-model="user.name"
                        >
                        <v-errors :errors="errorFor('name')"></v-errors>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="email">E-mail</label>
                        <input 
                            type="email" 
                            id="email"
                            name="email" 
                            placeholder="Your Email" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('email')}]"
                            v-model="user.email"
                        >
                        <v-errors :errors="errorFor('email')"></v-errors>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="password">Password</label>
                        <input 
                            type="password"
                            id="password" 
                            name="password" 
                            placeholder="Your Password" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('password')}]"
                            v-model="user.password"
                        >
                        <v-errors :errors="errorFor('password')"></v-errors>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="password_confirmation">Re-type Password</label>
                        <input 
                            type="password"
                            id="password_confirmation" 
                            name="password_confirmation" 
                            placeholder="Confirm your password" 
                            class="form-control" 
                            :class="[{'is-invalid': errorFor('password_confirmation')}]"
                            v-model="user.password_confirmation"
                        >
                        <v-errors :errors="errorFor('password_confirmation')"></v-errors>
                    </div>
                </div>
                
                <div class="d-grid gap-2 col-12 mx-auto mt-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="loading" @click="register">Register</button>
                </div>

                <hr/>

                <div>
                    Already have account?
                    <router-link :to="{name: 'login'}" class="font-weight-bold">Log-in</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import validationErrors from '../shared/mixins/validationErrors';
import { logIn } from "./../shared/utils/auth";

    export default {
        mixins: [validationErrors],
        data() {
            return {
               user: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null
               },
               loading: false
            }
        },
        methods: {
            async register(){
                this.loading = true;
                this.errors = null;

                try {
                    const response = await axios.post('/register', this.user);

                    if(201 === response.status){
                        logIn();
                        this.$store.dispatch("loadUser");
                        this.$router.push({name: "home"});
                    }                    
                    
                } catch (error) {
                    this.errors = error.response && error.response.data.errors;
                }

                this.loading = false;
            }
        }
    }
</script>